apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend 
        image: nginx:1.14.2
        ports:
        - containerPort: 3001
        env:
        - name: DATABASE_URL
          value: "postgres://postgres:postgres@postgres-service:5432/translations"
        - name: TRANSLATOR_HOST
          value: "translator-service"