services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: translations
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /db/init.sql:/docker-entrypoint-initdb.d
    networks:
      - app-network

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/translations
    ports:
      - "3001:3001"
    depends_on:
      - translator

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    networks:
      - app-network

  translator:
    image: libretranslate/libretranslate
    ports:
      - "5000:5000"
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network: